img{
box-shadow: 0 0 200px 200px white;
/*transform: scale(0.2);*/
}

html {
	scroll-behavior: smooth;
}

body{
	background-color: black;
}

#mydiv {
	position: absolute;
	z-index: 9;
	background-color: black;
	cursor: move;
	top: -588px;
	left: -177px;
}
